{%extends "base.html"%}
        {%block content%}

        {% load staticfiles %}
        <div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Modificar datos del usuario {{ usuario }} </h3>
			 	</div>
			 			<div class="panel-body">
			 			
			    		<form role="form" action="{% url 'editar' %}" method="POST"> {% csrf_token %}
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			               	 			<input type="text" name="Nombre" class="form-control" placeholder="Nombre" value={{ info.1 }}>
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="Apellidos" class="form-control input-sm" placeholder="Apellidos" value={{ info.2 }}>
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="text" name="Email" class="form-control input-sm" placeholder="Email" value={{ info.3 }}>
			    			</div>
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			               	 			<input type="text" name="Dni" class="form-control input-sm" placeholder="Dni" value={{ info.4 }}>
			    					</div>
			    				</div>
			    				
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="Password" class="form-control input-sm" placeholder="Password" value={{ info.8 }}>
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="ConfirmaPass" class="form-control input-sm" placeholder="ConfirmaPass" value={{ info.9 }}>
			    					</div>
			    				</div>
			    				<div class="form-group">
			    				<input type="text" name="Visa" class="form-control input-sm" placeholder="Visa" value={{ info.10 }}>
			    			</div>
			    			</div>




			    			<input type="submit" value="Update" class="btn btn-info btn-block">
			    		
			    		</form>
			    	</div>
	    	</div>


{%endblock%}